<!DOCTYPE html>
<html ng-app="phase1">

<head>
	<meta charset="UTF-8">
	<title>The Mean GRC</title>

	<link rel="stylesheet" href="\css\style.css" type="text/css">
	<script src="https://code.angularjs.org/1.2.22/angular.js"></script>
	<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="phase1display.js"></script>
</head>
</head>

<body ng-controller="phase1Controller">

	<div class="header">
		<h1> The Mean GRC </h1>
		<div>
			<ul>
				<li class="selected">
					<a href="..\..\index.html"> <img src="https://cdn.shopify.com/s/files/1/0486/7721/products/Quick-Mobile-Fix-Home-Button-Icon_cd07c211-76fa-45a6-b706-e4adfffd5217_large.png?v=1481027325"
						/> </a>
				</li>

				<li>
					<div class="dropdown">
						<button class="dropbtn">Releases</button>
						<div class="dropdown-content">
							<a href="\Display\Phase_2\phase2display.html">002</a>
							<a href="\Display\Phase_3\phase3display.html">003</a>

						</div>
					</div>
			</ul>
		</div>
	</div>
	<div class="content">
		<div ng-controller="translateController">
			<h2>You are at Phase #1</h2>

			<legend><br>
				<em>	Select the English Segment and required translation language :</em></legend>
			<br><br><br>
			<label class="lab"> EN Segment : </label>
			<select ng-model="selectedseg" ng-options="item.key as item.enSegment for item in segments">
    		<option value="">Select Segment</option>
			</select>


			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


			<label class="lab"> Targeted language: </label>
			<select ng-change="getOutput()" ng-model="tLang">
				<option value="">Select language</option>
				<option value="frSegment">French</option>
				<option value="deSegment">German</option>
				<option value="koSegment">Korean</option>
				<option value="zhSegment">Chinese</option>
				<option value="jpSegment">Japanese</option>  
			</select>

			<br><br><br><br>

			<label class="lab" id="displayTextArea" style="display:none"> Translated Segment : <textarea rows="2" cols="75" ng-bind="trsegment">  </textarea></label>
			

			</div>

		</div>
</body>

</html>