<!DOCTYPE html>
<html ng-app="phase1">
<head>
	<meta charset="UTF-8">
	<title>The Mean GRC</title>
	<link rel="stylesheet" href="\css\style.css" type="text/css">
	<script src="https://code.angularjs.org/1.2.22/angular.js"></script>
	<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="../Phase_1/phase1display.js"></script>
	
</head>
<body>

<div class="header">
			<h1> The Mean GRC </h1>


		<div>
<ul>
		<li class="selected"> <a href="../../index.html"> <img src="https://cdn.shopify.com/s/files/1/0486/7721/products/Quick-Mobile-Fix-Home-Button-Icon_cd07c211-76fa-45a6-b706-e4adfffd5217_large.png?v=1481027325"/> </a> </li>
				
		<li>
					<div class="dropdown">
  <button class="dropbtn">Releases</button>
  <div class="dropdown-content">
    <a href="\Display\Phase_1\phase1display.html">001</a>
    <a href="\Display\Phase_2\phase2display.html">002</a>
 
  </div>
</div>
		
	</ul>
	</div>

		</div>

	<div class="content">
		<div>
			<h2>You are at Phase #3</h2>
	<legend>	<em>Select the Source build, English segment and Check with target build if english segment is changed or same : </em><br><br><br></legend>

<div ng-controller="phase3Controller">
<label  class="lab" >Source Build: </label>	
<select ng-model="selectedSrcBuildNo" ng-change="getSegmentsForBuild()">
    		<option value="">Select BuildNo</option>
			<option value="b001">BuildNo: 1</option>
			<option value="b002">BuildNo: 2</option>
			<option value="b003">BuildNo: 3</option>
			</select>
			
	 &nbsp; &nbsp; &nbsp; &nbsp;


	  <label class="lab"> English Segment: </label>	
	
 <select class="dropLang" ng-model="selectedseg" ng-options="obj.key as obj.enSegment for obj in buildSegments">
	<option value="">Select Segment</option>
</select>

<br><br><br>
	  
  <label  class="lab" > Target build: </label>	
<select ng-model="selectedTgtBuildNo" ng-change="getOutput()">
    		<option value="">Select BuildNo</option>
			<option value="b001">BuildNo: 1</option>
			<option value="b002">BuildNo: 2</option>
			<option value="b003">BuildNo: 3</option>
			</select>
			
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

			 <br>
			 <br>

			

	 <label class="lab" id="displayTextArea1" style="display:none">Target Output Segment: <textarea rows="2" cols="75" ng-bind="outputsegment">  </textarea></label>

</div>

		
		

			</div>
			
</body>
</html>
